* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.5;
    background-color: lightgoldenrodyellow;
}

img{
    max-width: 100%;
}

h1, h2{
    margin-bottom:15px;
}

.container{
    max-width: 1100px;
    margin:0 auto;
    padding:0 30px;
}

ul {
    list-style-type: none;
}

.navbar{
    background-color: orangered;
    color:white;
    height:60px;
}

.logo{
    font-size:x-large;
    font-weight: bold;
}

.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color:antiquewhite;
}

.navbar ul{
    display:flex;
}

.navbar ul li{
    margin-left: 20px;
}

.header{
    background-color:khaki;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:400px;
}

section .container{
    display: flex;
    justify-content: space-between;
}

section .container .box{
    flex:1;
    background-color: orangered;
    border-radius: 10px;
    margin:20px 10px;
    padding:15px 20px;
}

@media(max-width:768px) {
    .header .container {
        flex-direction: column;
        padding-top:20px;
    }

    section .container{
        display: block;
        text-align: center;
    }
}